<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello from flask</title>
    <style>
    h1 {
      color: #333333;
      font-size: 20px;
      text-shadow: 3px 3px 3px #666666;
    }
  </style>
     <script>
    function change() {
      document.getElementsByTagName('h1')[0].style.color = '#ff0000';
    }
  </script>
</head>
<body>
{% if name %}
  <h1 onclick="change()">Hello {{name}}!</h1>
{% else %}
  <h1 onclick="change()">Hello, world!</h1>
{% endif %}
</body>
</html>